$yellow: "#FDA214";

$gray_100: "#BCCED9";
$gray_200: "#304859";
$gray_300: "#152938";

$white_100: "#FCFCFC";
$white_200: "#F2F2F2";

$blue_100: "#6395B8";
$blue_200: "#7191A5";


$f_h1: 48px;
$f_h2: 32px;
$f_h3: 20px;
$f_body: 18px;
$f_num_four: 56px;
$f_num_six: 44px;
