@import url(sanitize.css);
@import "theme";

* {
  font-size: $f_body;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: $gray_300;
}



a {
  color: inherit;
  text-decoration: none;
  display: block;
}

* {
  box-sizing: border-box;
}

